{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">
        <div class="jumbotron text-center mt-4">
            <h1>Bienvenue sur Nakama No Desentsu !</h1>
        </div>
    </div>

{% endblock %}
